/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

:root {
    --font1: 'Poppins', sans-serif;
}

body {
    font-family: var(--font1);
}

body p {
    color: #777777;
    font-size: 13px;
    font-weight: 300;

}

/* Slider  */
.corousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;

}

.corousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 120px;
    padding-left: 60px;
    padding-right: 60px;
}

.carousel-caption h5 {
    font-size: 65px;
    font-weight: 600;
    line-height: 65px;
}

.carousel-caption p {
    color: #F4F4F4;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}