/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

:root {
    --font1: 'Poppins', sans-serif;
}

body {
    font-family: var(--font1);
}

body p {
    color: #777777;
    font-size: 13px;
    font-weight: 300;

}

/* Slider  */
.carousel-caption {
    top: 30%;
}

header .carousel .carousel-item img {
    min-height: 100vh;
    object-fit: cover;
}


.carousel-caption h5 {
    font-size: 65px;
    font-weight: 600;
    line-height: 65px;
}

.carousel-caption p {
    color: #F4F4F4;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
    }
}